﻿@using K2.Models
@model IEnumerable<Kupovina>
@{
    ViewBag.Title = "Index";
}

<h2 style="padding-bottom:20px;font-weight:bold">Pregled kupovina!<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left">
        Pozdrav! Ovde su prikazane sve tvoje prethodne kupovine i njihove informacije!
    </p>

    <table class="btn">
        <thead>
         <th>Vase korisnicko ime</th>
        <th>Naziv proizvoda</th>
        <th>Datum</th>
        <th>Kolicina</th>
        <th>Naplaceno</th>
        </thead>
        @foreach (Kupovina k in Model)
        {
            <tr>
                <td>@k.Kupac.KorisnickoIme</td>
                <td>@k.Proizvod.Naziv</td>
                <td>@k.DatumKupovine.ToString("dd'/'MM'/'yyyy")</td>
                <td>@k.Kolicina</td>
                <td>@k.Naplaceno</td>
            </tr>
        }
        </table>

    </div>