﻿
@{
    ViewBag.Title = "Add";
}

<h2 style="padding-bottom:20px;font-weight:bold">Dodavanje novog proizvoda u ponudu!<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left">
        Unesite potrebne informacije u formu ispod kako biste kreirali nov proizvod!<br />
    </p>
    <p style="font-size:12px;color:black;font-style:italic">
        @ViewBag.Message
    </p>

    <form action="Add" method="post" class="text-center">
        <table class="btn" style="padding-top:25px;">
            <tr>
                <td style="border-right: none">Naziv:</td>
                <td style="padding-left:20px;"><input type="text" name="naziv" required="required" pattern=".{3,}" title="Three or more characters!" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Sorta:</td>
                <td style="padding-left:20px;"><input type="text" name="sorta" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Popularno ime:</td>
                <td style="padding-left:20px;"><input type="text" name="popularnoIme" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Boja: </td>
                <td style="padding-left:20px;"><input type="text" name="boja" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Poreklo:</td>
                <td style="padding-left:20px;"><input type="text" name="poreklo" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Opis:</td>
                <td style="padding-left:20px;"><input type="text" name="opis" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">CenaKG:</td>
                <td style="padding-left:20px;"><input type="text" name="cenaKG" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Raspolozivo:</td>
                <td style="padding-left:20px;"><input type="text" name="raspolozivo" required="required" /></td>
            </tr>
            <tr>
                <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Create!" /></td>
            </tr>
        </table>
    </form>

</div>