﻿@using K2.Models;
@model Proizvod

@{
    ViewBag.Title = "Edit";
}

<h2 style="padding-bottom:20px;font-weight:bold">Izmena izabranog proizvoda!<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left">
        Izmenite informacije ispod kako biste osvezili proizvod<br />
    </p>
    <p style="font-size:12px;color:black;font-style:italic">
        @ViewBag.Message
    </p>

    <form action="Izmeni" method="post" class="text-center">
        <table class="btn" style="padding-top:25px;">
            <tr>
                <td style="border-right: none">Naziv:</td>
                <td style="padding-left:20px;"><input type="text" name="naziv" required="required" pattern=".{3,}" title="Three or more characters!" value="@Model.Naziv"/></td>
            </tr>
            <tr>
                <td style="border-right: none">Sorta:</td>
                <td style="padding-left:20px;"><input type="text" name="sorta" required="required" value="@Model.Sorta"/></td>
            </tr>
            <tr>
                <td style="border-right: none">Popularno ime:</td>
                <td style="padding-left:20px;"><input type="text" name="popularnoIme" required="required" value="@Model.PopularnoIme"/></td>
            </tr>
            <tr>
                <td style="border-right: none">Boja: </td>
                <td style="padding-left:20px;"><input type="text" name="boja" required="required" value="@Model.Boja"/></td>
            </tr>
            <tr>
                <td style="border-right: none">Poreklo:</td>
                <td style="padding-left:20px;"><input type="text" name="poreklo" required="required" value="@Model.Poreklo"/></td>
            </tr>
            <tr>
                <td style="border-right: none">Opis:</td>
                <td style="padding-left:20px;"><input type="text" name="opis" required="required" value="@Model.Opis"/></td>
            </tr>
            <tr>
                <td style="border-right: none">CenaKG:</td>
                <td style="padding-left:20px;"><input type="text" name="cenaKG" required="required" value="@Model.CenaKG"/></td>
            </tr>
            <tr>
                <td style="border-right: none">Raspolozivo:</td>
                <td style="padding-left:20px;"><input type="text" name="raspolozivo" required="required" value="@Model.Raspolozivo"/></td>
            </tr>
            <tr>
                <td class="text-center" colspan="4" style="padding-top:10px;">
                <input type="text" name="starinaziv" value="@Model.Naziv" hidden />
                <input type="submit" value="Izmeni!" /></td>
            </tr>
        </table>
    </form>

</div>