﻿@using K2.Models
@model IEnumerable<Proizvod>
@{
    ViewBag.Title = "Shop";
}


<h2 style="padding-bottom:20px;font-weight:bold">Online shop<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left">
        Kako biste izabrali proizvod koji zelite kupiti prvo cete se morati registrovati. Ukoliko ne zelite da se registrujete, ili se jos uvek niste registrovali
        i dalje mozete pregledati proizvode koje prodajemo, ali cete mnogo propustiti. Zato, ucinite sebi uslugu i postanite deo nase zajednice!<br />
        @if (Session["Role"] != null && Session["Role"].ToString() == "ADMINISTRATOR")
        {
        <p class="text-left"> Administrator ste, mozete <a href="~/Proizvodi/Add">DODAVATI</a> nove proizvode u ponudu!</p>
    }


        @if (@Session["Cart"] != null)
        {
            if (Session["Cart"].ToString()  == "DEBUG")
            {
                <p style="font-size:12px;color:red;font-style:italic">
                    Imate proizvod u svojoj korpi! Ispraznite korpu pre daljeg narucivanja!
                </p>

            }
        }
        </p>

        <table>
            <tr>
                <form method="post" action="~/Proizvodi/Shop">
                    <select name="tip" id="tip" width="50" style="width:auto" onchange="~/Proizvodi/Shop">
                        <option>Sortiraj po:</option>
                        <option value="cenaA">Ceni rastuce</option>
                        <option value="cenaD">Ceni opadajuce</option>
                        <option value="nazivA">Nazivu rastuce</option>
                        <option value="nazivD">Nazivu opadajuce</option>
                        <option value="sortA">Sorti rastuce</option>
                        <option value="sortD">Sorti opadajuce</option>
                    </select>
                    <input type="submit" value="Sortiraj!" />
                </form>
            </tr>
        </table>



        <table class="btn">
            <thead>
                <tr>
                    <th style="background:none;border-right:none">
                        <form method="post" action="~/Proizvodi/Search">
                            <input type="text" name="vrednost" width="50" style="color: #333" />
                            <input type="text" name="kriterijum" value="naziv" hidden />
                            <input type="submit" style="color: #333" value="Pretrazi!" />
                        </form>
                    </th>
                    <th style="background:none;border-right:none">
                        <form method="post" action="~/Proizvodi/Search">
                            <input type="text" name="vrednost" width="50" style="color: #333" />
                            <input type="text" name="kriterijum" value="sorta" hidden />
                            <input type="submit" style="color: #333" value="Pretrazi!" />
                        </form>
                    </th>
                    <th style="background:none;border-right:none">
                        <form method="post" action="~/Proizvodi/Search">
                            <input type="text" name="vrednost" width="50" style="color: #333" />
                            <input type="text" name="kriterijum" value="cena" hidden />
                            <input type="submit" style="color: #333" value="Pretrazi!" />
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>Naziv</th>
                    <th>Sorta</th>
                    <th>Cena</th>
                    <th>Raspolozivo</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (Proizvod pr in Model)
            {
                if (@pr.Raspolozivo <= 0)
                {
                    if (Session["Role"] != null && Session["Role"].ToString() == "ADMINISTRATOR")
                    {

                        goto isAdmin;
                    }
                    continue;
                }

            isAdmin:

                <tr>
                    <td>@pr.Naziv</td>
                    <td>@pr.Sorta</td>
                    <td>@pr.CenaKG</td>
                    <td>@pr.Raspolozivo</td>
                    <td style="display:inline:">
                        <table>
                            <tbody>
                                <tr>
                                    @if (Session["Role"] != null && Session["Role"].ToString() == "ADMINISTRATOR")
                                    {
                                        <td style="border-right:none;padding-right:0px">
                                            <form method="post" action="~/Proizvodi/Edit">
                                                <input type="text" name="naziv" value="@pr.Naziv" hidden />
                                                <input type="image" src="../Images/edit.png" border="0" alt="Submit" height="20px" />
                                            </form>
                                        </td>

                                        <td style="border-right:none;padding-right:0px">
                                            <form method="post" action="~/Proizvodi/Remove">
                                                <input type="text" name="naziv" value="@pr.Naziv" hidden />
                                                <input type="image" src="../Images/remove.png" border="0" alt="Submit" height="20px" />
                                            </form>
                                        </td>
                                    }
                                    @if (Session["Role"] != null && ((Session["Role"].ToString() == "KUPAC") || (Session["Role"].ToString() == "ADMINISTRATOR")) && pr.Raspolozivo > 0)
                                    {
                                        if (Session["ItemsInCart"].ToString() != "1")
                                        {
                                            <td style="border-right:none;padding-right:0px">
                                                <form method="post" action="~/Cart/Details">
                                                    <input type="text" name="naziv" value="@pr.Naziv" hidden />
                                                    <input type="image" src="../Images/cart.png" border="0" alt="Submit" height="20px" />
                                                </form>
                                            </td>
                                        }
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            }

        </table>
    </div>