﻿
@{
    ViewBag.Title = "Add";
}

<h2 style="padding-bottom:20px;font-weight:bold">Dodatne informacije!<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left" style="color:red;font-style:italic;"> 
        @ViewBag.Message
    </p>
</div>