﻿@using K2.Models
@model Proizvod
@{
    ViewBag.Title = "Details";
}

<h2 style="padding-bottom:20px;font-weight:bold">Dodatne informacije!<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left">
        Izabrali ste @Model.Naziv .Za kupovinu unesite u donjem delu ekrana kolicinu proizvoda koja je maksimalno
        raspolozivoj, kako biste prebacili proizvod u korpu.
    </p>
    <p style="font-size:12px;color:green;font-style:italic">
        @ViewBag.Message
    </p>

    <table style="background:none" class="btn text-center">
        <tbody>
            <tr style="background:none">
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Naziv:</td>
                <td style="font-size:20px;background:none">@Model.Naziv</td>
            </tr>
            <tr>
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Sorta:</td>
                <td style="font-size:20px;background:none">@Model.Sorta</td>
            </tr>
            <tr>
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Popularno ime:</td>
                <td style="font-size:20px;background:none">@Model.PopularnoIme</td>
            </tr>
            <tr>
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Boja:</td>
                <td style="font-size:20px;background:none">@Model.Boja</td>
            </tr>
            <tr>
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Poreklo:</td>
                <td style="font-size:20px;background:none">@Model.Poreklo</td>
            </tr>
            <tr>
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Opis:</td>
                <td style="font-size:20px;background:none">@Model.Opis</td>
            </tr>
            <tr>
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Cena po kilogramu:</td>
                <td style="font-size:20px;background:none">@Model.CenaKG</td>
            </tr>
            <tr>
                <td style="font-size:20px;text-align:left;border-right:none;background:none">Raspolozivo:</td>
                <td style="font-size:20px;background:none">@Model.Raspolozivo kg</td>
            </tr>
        </tbody>
    </table>

    <form method="post" action="~/Cart/Add">
        <input type="text" name="kolicina" width="50" style="color: #333"  />
        <input type="text" name="naziv" value="@Model.Naziv" hidden />
        <input type="submit" style="color: #333" value="Naruci!" />
    </form>

</div>
