﻿@using K2.Models
@model Dictionary<Proizvod, Double>
@{
    ViewBag.Title = "Index";
}

<h2 style="padding-bottom:20px;font-weight:bold">Vasa korpa!<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left">
        Buduci da imate proizvod u svojoj korpi onemoguceno vam je dalje pretrazivanje websajta. Naime, prvobitno je potrebno da ispraznite korpu kako biste nastavili sa pretrazivanjem sajta. Mozete platiti samo VISA karticom. Ukoliko zelite odustati pritisnite Logout.
    </p>
    <p style="font-size:12px;color:green;font-style:italic">
        @ViewBag.Message
    </p>
    <table class="btn">
        <thead>
            <tr>
                <th>Naziv proizvoda</th>
                <th>Kolicina</th>
                <th>Cena po kilogramu</th>
            </tr>
        </thead>
        @foreach (Proizvod pr in Model.Keys)
        {
            <tr>
                <td>@pr.Naziv</td>
                <td>@Model[pr]</td>
                <td>@pr.CenaKG</td>
            </tr>
        }
        <tr><td colspan="3" style="border-top:1px solid #000000;">Vas racun bez PDV-a: @ViewBag.UkupnaCena</td></tr>
    </table>
    <form action="~/Cart/Buy">
        <input type="submit" value="Checkout!" />
    </form>

 </div>

