﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="rectangle" class="vertical-center" style="padding-left:400px;padding-top:10px">
        <p style="font-weight:bold;color:#285516">
            Pozdrav, @if(Session["Username"] !=null) { <p style="font-weight:bold;color:#285516"> @Session["Username"].ToString()</p>} else { <p style="font-weight:bold;color:#285516"> Guest</p>}
        </p>
    </div>
    <div class="navbar navbar-inverse">
        <div class="container" style="padding-top:0">
            <div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <img src="~/Images/logo.png" alt:"LOGO"  style="height:165px;padding-top:15px;"/>
            <div class="navbar-collapse collapse" style="padding-top:10px;padding-bottom:10px;padding-left:15px">
                <ul class="nav navbar-nav navbar-brand" style="padding-bottom:3em">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Proizvodi/Shop">Shop</a></li>
                    @if (Session["Role"] != null)
                    {
                        if ((@Session["Role"].ToString() != "ADMINISTRATOR") && (@Session["Role"].ToString() != "KUPAC"))
                        {
                            <li><a href="~/Autentifikacija/Login">Login</a></li>
                            <li><a href="~/Autentifikacija/Register">Register</a></li>
                        }
                        else if (@Session["Username"] != null || @Session["Username"].ToString() != "Guest")
                        {
                            Session["ItemsInCart"] = 0;


                            if (@Session["Role"].ToString() == "ADMINISTRATOR")
                            {
                                <li><a href="~/Home/Users">Korisnici</a></li>
                            }
                            <li><a href="~/Autentifikacija/Logout">Logout</a></li>
                            <li style="float:right"><a href="~/Previous/Index">Kupovine</a></li>
                            <li style="float:right"><a href="~/Cart/Index">Korpa</a></li>
                        }
                    }
                    else
                    {
                        <li><a href="~/Autentifikacija/Login">Login</a></li>
                        <li><a href="~/Autentifikacija/Register">Register</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top:1em">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
