﻿@using K2.Models
@{
    ViewBag.Title = "Login";
}

<h2 style="padding-bottom:20px;font-weight:bold">Login!<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left">
        Kako biste izabrali proizvod koji zelite kupiti prvo cete se morati registrovati. Ukoliko ne zelite da se registrujete, ili se jos uvek niste registrovali
        i dalje mozete pregledati proizvode koje prodajemo, ali cete mnogo propustiti. Zato, ucinite sebi uslugu i postanite deo nase zajednice!<br />
    </p>
    <p style="font-size:12px;color:red;font-style:italic">
        @ViewBag.Message
    </p>
    <form action="~/Autentifikacija/Login" method="post" class="text-center">
        <table class="btn" style="padding-top:25px;">
            <tr>
                <td style="border-right: none">Username:</td>
                <td style="padding-left:20px;"><input type="text" name="korisnickoIme"  required="required" pattern=".{3,}" title="Three or more characters!"/></td>
            </tr>
            <tr>
                <td style="border-right: none">Password:</td>
                <td style="padding-left:20px;"><input type="password" name="sifra" required="required" pattern=".{8,}" title="Eight or more characters!"/></td>
            </tr>
            <tr>
                <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Login" /></td>
            </tr>
        </table>
    </form>
</div>
