﻿
@{
    ViewBag.Title = "Register";
}

<h2 style="padding-bottom:20px;font-weight:bold">Register a new shopping account!<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left">
        In order to get access to buying our products you will need to be a registered user. If you are one, you need to log into your account before
        using our services. On the other hand, if you are not a registered user don't worry. You are just a few clicks away from joining the biggest
        e-market community in the region. We just need your information and in no-second you will get access to our webiste!<br />
    </p>
    <p style="font-size:12px;color:red;font-style:italic">
        @ViewBag.Message
    </p>
    <form action="Register" method="post" class="text-center">
        <table class="btn" style="padding-top:25px;">
            <tr>
                <td style="border-right: none">Username:</td>
                <td style="padding-left:20px;"><input type="text" name="korisnickoIme" required="required" pattern=".{3,}" title="Three or more characters!"/></td>
            </tr>
            <tr>
                <td style="border-right: none">Password:</td>
                <td style="padding-left:20px;"><input type="password" name="sifra" required="required" pattern="[a-zA-z0-9-]+.{8,}" title="Eight or more characters!"/></td>
            </tr>
            <tr>
                <td style="border-right: none">First name:</td>
                <td style="padding-left:20px;"><input type="text" name="ime" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Last name:</td>
                <td style="padding-left:20px;"><input type="text" name="prezime" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">E-mail:</td>
                <td style="padding-left:20px;"><input type="text" name="email" required="required" /></td>
            </tr>
            <tr>
                <td style="border-right: none">Date of birth:</td>
                <td style="padding-left:20px;"><input type="date" name="datumRodjenja"required="required" /></td>
            </tr>
            <tr>
                <td class="text-center" colspan="4" style="padding-top:10px;"><input type="submit" value="Register" /></td>
            </tr>
        </table>
    </form>
</div>
