﻿@{
    ViewBag.Title = "Home Page";
}

<h2 style="padding-bottom:20px;font-weight:bold">Dobrodošli na HealthBasket!<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left">
        HealthBasket je online prodavnice gde možete nabaviti najsvežije voće i povrće širom vašeg regiona.
        Firma je osnovana od strane Erdeljan Marka, koji je došao na ideju da započne svoj prvi online
        posao. Izabrao je prehrambenu industriju u cilju pomaganja drugih da izaberu prave proizvode,
        zdrave za njih, i da izaberu put koji će i u budućnosti biti zdrav.
    </p>
</div>