﻿@using K2.Models
@{
    ViewBag.Title = "Users";
}

<h2 style="padding-bottom:20px;font-weight:bold">Pregled korisnika!<hr /></h2>
<div class="jumbotron text-center">
    <p class="text-left">
        Pozdrav Administratore! Imate prava da vidite ceo spisak korisnika!
    </p>
    <p style="font-size:12px;color:green;font-style:italic">
        @ViewBag.Message
    </p>
    <table class="btn">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (Korisnik k in Model)
        {
            if (@k.Deleted)
            {
                continue;
            }

            <tr>
                <td>@k.KorisnickoIme</td>
                <td>@k.Sifra</td>
                <td>@k.Ime</td>
                <td>@k.Prezime</td>
                <td>@k.Email</td>
                <td>@k.DatumRodjenja.ToString("dd'/'MM'/'yyyy")</td>
                <td>@k.Role</td>
                <td style="border-right:none;padding-right:0px">
                    <form method="post" action="~/Home/RemoveUser">
                        <input type="text" name="korisnickoIme" value="@k.KorisnickoIme" hidden />
                        <input type="image" src="../Images/remove.png" border="0" alt="Submit" height="20px" />
                    </form>
                </td>
            </tr>
        }

    </table>


</div>